{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-12 p-0 text-center">
  <h1 class="mb-4"> Privacy Policy </h1>
  <b class="text-date">Last Updated: 29/12/2019</b>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 "></div>
    <div class="col-md-12 col-lg-9>" >
      <p>
        Simplifypanel.com takes your privacy seriously and takes every reasonable
        precaution to safeguard the personal information you supply to it.<br>
        The Legal Entity and Data Controller is SWAGG (UK) Limited who are
        registered in England and Wales, registration number 11688802.
        When you sign up to become a member of Simplify Panel you will be asked to
        provide certain personal profile information. This information is not made
        available to any organisations for marketing purposes of any
        description. Simplify Panel only uses this information to confirm your
        suitability for specific surveys and other such research assignments. We do not
        and will never share any of your personal information with third parties without
       your consent.<br>
        Personal information is sometimes used differently for users who have opted in
        to take part in the Unique Quote Research Project.
        You warrant that the information you provide is accurate and truthful. The data
        you provide to SWAGG UK LIMITED will be held as you have provided it. You
        may also request to be removed at any time by sending an email to
        compliance@simplifyintelligence.com. Upon submitting a forget me request,
        your request will be added to a processing queue, after which your account and
        any personal data you have provided will be deleted, and any content you have
        created will be anonymised. If you have ever been paid by Simplify panel, we are
        required under law to retain some information, but this will be strictly limited to
        financial records of transactions that have taken place.<br>
        As part of the service which we provide you, simplify panel will contact you via
        email with invitations to take part in online surveys and other projects that we
        consider you to have a legitimate interest in as a member. We also send account
        based and transactional emails. You can unsubscribe from our emails at any time
        should you wish to, and surveys and projects will still be offered to you via your
        assignments page if you remain a member. If you choose to unsubscribe from
        emails, we recommend that you check your email to ensure you do not miss out
        on the opportunity to take part in new projects and surveys as they appear.
        Simplify panel also send a weekly newsletter, to keep you updated with our latest
        competitions, blog articles and more.
      </p>
     <h3> Use of Cookies </h3>
       Simplify panel does not use resident cookies to collect or store data on your hard
       disk but does use session variables to store data in your browser, which ensures
       enough functionality of our site. A session variable is a temporary cookie stored
       in your browser memory that expires when you close your browser. Simplify
       panel tracks visitors to and on the Simplify panel site by using referrer
       tracking. Simplify panel uses click through and open mail tracking when sending
       emails. This process allows Simplify panel the ability to profile and analyse the
       recipients of their communications.

     <h3>Information we collect and Uses of that Information</h3>
       We do not collect personal information when you visit our site unless you
       register. The information gathered at the time of registration (such as your email
       address, postal code, age and income level etc) is used to determine your
       suitability for surveys, mystery shopping and other research assignments. Your
       contact details are only used to appraise you of assignments available. You may
       choose not to receive future mailings. When you submit feedback or questions
       via email, or contact us for information about our website, we will request your
       name and email address. We use this information solely to respond to your
       inquiries. We do not sell, rent, or otherwise disclose your personal information to
       any third parties, again except for members who have been invited to take part
       in the Unique Quote Research project. We do not use your mailing address information for unsolicited marketing.

     <h3>Use of Your Data for Analytical and Statistical Purposes</h3>
       Your data together with that of other Simplify Panel members may be aggregated
       at Cities or other levels for the building of statistical and analytical tables. At no
       time will your data be individually identifiable in such tables.

     <h3>Legal Requirements to Provide Data</h3>
       Simplify panel will not provide your personal information to any third party
       without your prior consent; however, under certain circumstances the force of law
       may require the provision of information to the legal authorities. In order to
       maintain the integrity of its website and safeguard the interests of its
       subscribers Simplify panel will comply with any such legally binding request.

     <h3>Unique Quote Research Project</h3>
      <ul>
        <li>
         Every time that Simplify Panel intends to use a member’s details for its
         Unique Quote Research Project the member will be notified and given the option
         to opt-out at any point.
        </li>
        <li>
          If a member consents to take part in the Unique Quote Research Project,
          their personal information will be used and shared with third parties in order
          to perform research on market trends.
        </li>
        <li>
          This data will be aggregated at Postcode or other levels for the building of
          statistical and analytical tables.
        </li>
        <li>
         The analytical and statistical results of this research may be sold, rented, or
         otherwise shared with third parties by Simplify panel/Simplify Intelligence (a
         division of SWAGG UK LIMITED).
        </li>
        <li>
         All reasonable measures will be taken to prevent a member being contacted
         for unsolicited marketing or by any third parties as a result of this process.
        </li>
        <li>
         All reasonable measures will be taken to ensure that every member’s
         personal information is protected and secure.
        </li>
        <li>
          At all times Simplify panel/Simplify Intelligence will act in accordance with
          the Data Protection Act 2018.
        </li>
        <li>
          If you opt out of the Unique Quote Research Project after already being
          selected for a project, please note that your details may continue to be used for up
          to 3 months whilst that original project is ongoing. If you do not wish for this to
          be the case, please contact us directly by emailing compliance@simplifyintelligence.com and we will aim to remove you
          from the project as soon as practicable, and you will still be paid for all use up
          until the point you are removed. Once opted out you will not be selected for any
          future Unique Quote Research projects where participants are selected after you
          opt out date.
        </li>
      </ul>
     <h3>Use of External Suppliers</h3>
      Simplify Panel may from time to time use third party suppliers or partner with
      approved organisations to provide all or part of a service to you. Simplify panel
      shall only be entitled to supply such of your personal information as is necessary
      to enable them to provide the relevant service to you. You should be aware that
      such outside service providers might be based in countries outside the European
      Union whose laws provide for a different standard of protection for your personal
      data than that provided under English law. In such circumstance Simplify
      panel will have in place contractual arrangements which will require your data to
      be processed at least to a standard compliant with the GDPR 2019.

     <h3>Further Information</h3>
       If you have any questions regarding the privacy policy of Simplify Panel, or
       require any further information please email compliance@simplifyintelligence.com.
    </div>
  </div>
</div>
{% endblock %}