{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-12 p-0 text-center">
 <h1 mb-4> Terms of Service </h1>
 <b class="text-date">Last Updated: 29/12/2019</b>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
      <div class="col-md-12 col-lg-9">
        <h3> Acknowledgment and Acceptance </h3>
        <p>
          By registering and/or using the Simplify Panel Website (simplifypanel.com), you
          agree that you have read and understand this Agreement ('Agreement') and that
          your use of the service “Simplify Panel” will be conform to its terms and
          conditions.
          The members (registered User) of Simplify Panel may earn virtual currency for
          taking surveys and other actions.
        </p>
        <h3> Terms of Participation & (registration) (Eligibility)</h3>
          You as a user must be 16 years of age or older to register and use Simplify Panel.
          The Service is open for any International Member but void where prohibited by
          local governing laws.
        <p>
          Corporations or business entities are not eligible to become Members. Further
          you acknowledge that only one email address per Member is allowed, which can
          also only be used by on (the same) User.
        </p>
        <h3> User Conduct / Responsibility </h3>
          You acknowledge and agree to the fact that you must use only your email address
          and other personal information to register and that only one email address per
          Member is allowed, which can also only be used by one (the same) User. The
          service of Simplify Panel is limited to 1 account per user. The User always agrees
          to provide accurate information to -Simplify Panel (Advertiser and partners).
          Limitation of Liability<br>>
          Simplify Panel will not take any liability for any Damages, lost profits, lost
          business opportunities, or any other indirect, special, punitive, incidental or
          consequential damages relating to the participation or inability to participate in
          Simplify Panel.<br>
        <h3> Privacy </h3>
          Please see the PRIVACY POLICY
          Indemnification
          You will indemnify and hold harmless Simplify Panel and all other Providers
          from and against any costs, damages, expenses, and liabilities (including, but not
          limited to, reasonable attorneys' fees) arising out of or related to any User
          Content, your use of the Services or any Content, your violation of this
          Agreement, or your violation of any rights of a third party.<br>
          Payments /
          Simplify Panel will pass on necessary information to the third party mobile
          money/ Payment provider. This information will be used for nothing else, but the
          payout process.
      </div>
    </div>
  </div>
{% endblock %}